.launchModal {
    background: #101017;
    border-radius: 28px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    color: white;
    left: 50%;
    outline: none;
    padding: 52px 25px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 555px;
}

.modalContent {
    margin-top: 54px;
    text-align: left;
}

.modalContentHeading {
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
    font-style: normal;
    font-weight: 375;
    line-height: 150%
}

.modalContentText {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

@media (max-width: 600px) {
    .modalContentHeading {
        font-size: 13px;
    }

    .modalContentText {
        font-size: 14px;
    }
}