.page{
    background: #101017;
    border-radius: 18px;
    cursor: pointer;
    height: 243px;
    text-align: center;
    padding: 12px;
    width: auto;
}

.totalLaunches {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%
}