.launchCard{
    color: #FFFFFF;
}

.launchCardContent{
    text-align: left;
}

.launchFlightNumber{
    background: rgba(255, 255, 255, 0.14);
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 8px;
    padding: 4px;
    width: 86px;
}

.launchTitle{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    width: 180px;
    text-overflow: ellipsis;
}

.launchId {
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    font-style: normal;
    font-weight: 375;
    line-height: 150%;
}